/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Color variables */
:root {
    --blue-black: #003148;
    --blue-dark: #238CBD;
    --blue-light: #00B4EB;
    --grey: #757575;
    --off-white: #F6F6F6;
    --white: #FFFFFF;
}

/* Fonts */
body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'JetBrains Mono', monospace;
}

/* Text style */
h1, h4{
    font-weight: 600;
}

h1{
    font-size: 9rem;
    color: var(--blue-dark);
}

h2{
    font-size: 1.5rem;
    color: var(--blue-black);
}

h4{
    font-size: 1.125rem;
    color: var(--grey);
}

p{
    font-size: 1rem;
    color: var(--grey);
    line-height: 1.75rem;
}

.underline-link{
    text-decoration: none;
    color: var(--grey);
    background-position-y: -0%;
    background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, var(--blue-dark) 50%);
    transition: background 200ms ease, color 200ms ease;
    background-size: 2px;
    background-size: auto 180%;
}

.underline-link:hover {
    color: var(--white);
    background-position-y: 100%;
}

/* Header */
header{
    background: linear-gradient(280.12deg, #F5F5F5 41.12%, #FFFFFF 100.31%);
    overflow: hidden;
}

header > div{
    width: 80%;
    margin: auto;
}

nav{
    border-bottom: 1px solid #CCCCCC;
}

nav img{
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: -1rem;
}

.header-content img{
    height: 25rem;
    width: auto;
    margin-top: -2.5rem;
}

.header-content div{
    margin-top: 2rem;
}

header h2{
    width: 65%;
}

/* Main content and footer width */
main, footer section{
    width: 70%;
    margin: auto;
}

/* Sections title */
.section-title{
    margin-top: 3.25rem;
    text-decoration: none;
    padding: 0.5rem 0;
    margin-bottom: 1.375rem;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Hover effect - grows line from bottom to full line-height */
    background-position-y: -0%;
    background-image: linear-gradient( var(--white) 50%, var(--blue-dark) 50%);
    transition: background 250ms ease, padding 350ms ease;
    background-size: 2px;
    background-size: auto 193%;
}

.section-title:hover {
    background-position-y: 100%;
    padding: 0.5rem 0.5rem;
}

/* Changes text color */
.section-title > h4 {
    transition: color 350ms ease;
}

.section-title:hover > h4 {
    color: white;
}

/* Changes arrow fill color */
.section-title svg > path{
    fill: var(--blue-dark);
    transition: fill 350ms ease;
}

.section-title:hover svg > path{
    fill: var(--white);
}

/* About */
.about div{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.about div > p, .about div ul{
    width: 45%;
}

.about div ul li{
    display: flex;
}

.about div ul li:first-child{
    margin-bottom: 1rem;
}

.about div ul li img{
    width: 3em;
    margin-right: 2em;
}

.about div ul li p{
    width: 60%;
}

/*---------------- PROJECTS GRID ----------------*/
.grid-cover{ /* Grid structure */
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
    column-gap: 3.25rem;
    row-gap: 2.75rem;
}

.grid-cover .card{ /* Cards size */
    height: 320px;
    overflow: hidden;
    position: relative; /* used to center img */
    border: none;
    border-radius: 0;
}

.grid-cover .card img{
    width: 100%;
    position: absolute; /* img centered */
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.card .card-hover{
    /* hover text centered */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Hover animations */
    width: 50%; /* horizontal size, is going to grow on hover */
    padding: 0 10px; /* height doesn't work, padding is going to make the height grow on hover */
    transition: 300ms ease; /* transition duration */
}

.card .card-hover h3{
    display: inline;
    padding: 0.3em;
    font-size: 1.5rem;
    font-weight: 600;

    color: rgba(0, 0, 0, 0); /* transparency 0, it's going to be visible only on hover */
    transition: 200ms; 
}

.card:hover .card-hover{
    color: rgb(255, 255, 255);
    background-color: rgba(35, 140, 189, 0.3);
    width: 100%;
    padding: 180px 0;
}

.card:hover .card-hover h3{
    color: rgb(255, 255, 255);
    background-color: rgba(35, 140, 189, 1);
}

@media screen and (max-width: 760px) { 
    /* smaller height in cards in screens under 992px */
    .grid-cover .card{
        height: 250px;
    }
}
/*---------------- END PROJECTS GRID ----------------*/

/* Footer */
/* Footer width is set together with the main tag */
footer{
    background-color: var(--off-white);
    margin-top: 7rem;
}

footer img{
    margin-right: 4rem;
}

footer section{
    display: flex;
    justify-content: space-between;
    padding: 2.25em 0;
}

/* Mobile */
@media screen and (max-width: 760px) { 
    /* Font sizes */
    h1{
        font-size: 6rem;
    }
    
    h2{
        font-size: 1rem;
    }
    
    /* Width on mobile screen, not 100% in order to have a margin */
    main, header > div, footer section{
        width: 90%;
        margin: auto;
    }

    /* Header in column, img under text */
    .header-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Changes img size */
    .header-content img{
        height: 100%;
        max-width: 500px;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: -5rem;
    }

    /* About in column, icons + txt under paragraph */
    .about div{ 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .about div > p, .about div ul{
        width: 100%;
    }

    .about div ul{
        margin-top: 2rem;
    }

    .about div ul li p{
        width: 100%;
    }
}

/* Tablets and medium screens */
@media screen and (min-width: 760px) and (max-width: 1300px){
    /* Font sizes */
    h1{
        font-size: 7.5rem;
    }
    
    h2{
        font-size: 1.25rem;
    }

    header h2{
        width: 95%;
    }

}


/* SHARED CONTENT BETWEEN ALL PROJECTS PAGES */
/* Margin between nav and cover img */
nav{
    margin-bottom: 1rem;
}

/* Cover image */
.header-cover{
    display: block; 
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative; /* used to center img */
    border: none;
    border-radius: 0;
}

.header-cover img{
    width: 100%;
    position: absolute; /* img centered */
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

/* Project logo and minibio */
.project-bio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-bio img{
    margin: 5rem;
    margin-left: 0;
    width: 45%;
    max-width: 377px;
}

/* Credits */
.credits h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #9F9F9F;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #9F9F9F;
    margin-top: 5rem;
    margin-bottom: 1.75rem;
}

.credits p{
    width: 50%;
    margin-bottom: 1rem;
}

.credits a{
    color: black;
}

.credits > div{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.credits img{
    max-height: 250px;
    width: auto;
}

.exhibitions div{
    align-items: center;
}

.exhibitions p{
    width: 100%;
}

/* Mobile */
@media screen and (max-width: 760px) {
    /* Cover image */
    .header-cover{
        height: 25vh;
    }

    /* Project logo and minibio */
    .project-bio{
        flex-direction: column;
    }

    .project-bio img{
        margin: 3rem 0;
        width: 80%;
    }

    .project-bio p{
        margin-bottom: 3rem;
    }

    /* Credits */
    .credits div{
        flex-direction: column;
    }

    .credits p{
        width: 100%;
    }
    
    .credits img{
        margin-bottom: 2rem;
    }
}

/* Tablets and medium screens */
@media screen and (min-width: 760px) and (max-width: 1100px){
    /* Cover image */
    .header-cover{
        height: 25vh;
    }

    .project-bio img{
        margin: 3rem 1rem;
        margin-left: 0;
        width: 35%;
    }

    .project-bio p{
        margin: 2rem 0;
    }

    .exhibitions p{
        margin-left: 1.5rem;
    }
}