.animal-title{
    font-style: normal;
    color: black;
    font-weight: 600;
    font-size: 2em;
}

.txt-normal{
    font-weight: 400;
}

.w-80{
    width: 80%;
    margin-top: -0.5em;
}

.animal-title{
    margin-top: 2em;
    margin-bottom: 1em;
}

.img-center{
    display: block;
    margin: auto;
}



@media (max-width: 768px){
    
    .animal-title{
        font-size: 1.5em;
    }
    
    .w-80{
    width: 100%;
}
    
}