main{ /*define a fonte como PT Mono na página toda*/
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
}

/*---------------- CABEÇALHO ----------------*/
.fundo-menu{ /*fundo colorido do cabeçalho*/
    background: linear-gradient(270deg, #6485C3 0%, #5FC7D6 29.69%, #5FC7D6 70.31%, #73C59D 100%);
}

.navbar{
    padding-top: 1em;
    padding-bottom: 1em;
}

.titulo{
    font-weight: 600;
}

.monograma{
    margin-left: 2.4em; /*Gambiarra pra tentar deixar o L centralizado na tela*/
    margin-right: 0;
}

.menu li a{ /* botões do menu principal */
    background-color: white;
    border-radius: 1em;
    text-align: center;
    margin-top: 1em;
    height: 42px;
}

.navbar-nav{ 
    margin-top: 1.5em;
}

@media (min-width: 992px) {
    /* adiciona espaçamento adequado nos botões em telas maiores que 992px */
    .menu li a{ 
        margin-left: 1em;
        margin-top: 0;
        width: 120px;
    }

    .navbar-nav{
        margin-top: 0;
    }

    .navbar-collapse{ /* passa os botões pra direita da tela */
        margin-left: auto;
        flex: initial;
        margin-right: 2em;
    }
}

/*Edição do botão toggler do menu responsivo*/
.navbar-toggler{
    background-color: white;
    border-radius: 1em;
}

.navbar-toggler svg{
    width: 0.89em;
    height: 0.89em;
    margin-top: 0.15em;
}

.navbar-toggler:focus{
    box-shadow: inset 0 0px 0px 3rem; /* fundo preto que aparece ao clicar no menu hamburer */
    fill: white; /* cor do svg */
}

.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 100%);
    border-color: rgb(0 0 0 / 25%);
}

.navbar-toggler img{
    margin: 0.3em 0;
}
/*Fim do toggler*/

.botoes-janela{ /* display flex nos botoes de janela do canto superior direito */
    display: flex;
    list-style-type: none;
    
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.botoes-janela button{ /* tamanho dos botões de janela */
    border: none;
    background-color: white;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    margin-left: 0.8em;
}


/*---------------- GRID DE PROJETOS ----------------*/
.grid-capas{ /* torna o grid responsivo */
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.grid-capas .card{ /* configura o tamanho de cada card dentro do grid */
    height: 300px;
    overflow: hidden;
    position: relative; /* usado para centralizar a foto logo abaixo */
    border: none;
    border-radius: 0;
}

.grid-capas .card img{
    width: 100%;
    position: absolute; /* centraliza a foto */
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;

}

.card-hover h2{
    font-weight: 700;
}

.card .card-hover{ /*  */
    /* faz o texto do hover ficar no centro sobre a foto */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Coisas para animar no hover */
    color: rgba(0, 0, 0, 0); /* fonte com transparencia 0, vai crescer até 1 no hover */
    width: 50%; /* tamanho horizontal, vai dar sensação de que cresce na animação */
    padding: 0 10px; /* height não funciona, entao o padding vai ocupar tudo na vertical */
    transition: .2s; /* tempo da animação */
}

.card:hover .card-hover{
    color: rgb(0, 0, 0);
    background-color: rgba(95, 199, 214, 0.8);;
    width: 100%;
    padding: 150px 0;
}

@media (max-width: 992px) { 
    /* reduz altura dos cards em telas menores que 992px */
    .grid-capas .card{
        height: 250px;
    }
}


/*---------------- FOOTER ----------------*/
footer{
    margin-top: 100px;
    margin-bottom: 40px;

    display: flex;
}

.monograma-footer{
    width: 90px;
    height: 90px;
    background: linear-gradient(227.83deg, #6485C3 0%, #5FC7D6 29.69%, #5FC7D6 70.31%, #73C59D 100%);
    border-radius: 30px 30px 30px 0px;
}

.monograma-footer img{
    display: block;
    margin: auto;
    width: 40%;
    padding-top: 22px;
}

.nome-footer{
    text-align: center;
    margin-left: 35px;
    padding-top: 5px;
}

.nome-footer h3{
    font-size: 36px;
    font-weight: 600;
}