/* text on top of the page */
main p{
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 300;
    color: var(--blue-black);

    max-width: 710px;
}

.welcome-text{
    margin-top: 54px;
    margin-bottom: 90px;
}

/* year title and small text */
main h1{
    font-size: 3.4rem;
}

.year-bio{
    margin-bottom: 54px;
}

/* highlights section */
.highlights h2{
    color: #929292;
    font-family: "JetBrains Mono";
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.highlights > div{
    background-color: var(--off-white);
    margin-top: -14px;

    display: flex;
    padding: 42px 28px;
    margin-bottom: 72px;
}

.highlights div img{
    width: 40%;
    margin-right: 28px;
}

.highlights .high-info h5{
    color: var(--blue-black);
    font-family: "JetBrains Mono";
    font-size: 1.25rem;
    font-weight: 700;
}

.highlights .high-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlights .high-info p{
    color: black;
}

.highlights .high-info .section-title{
    background-image: linear-gradient( var(--off-white) 50%, var(--blue-dark) 50%);
    margin: 0;
}