/* text on top of the page */
main p{
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 300;
    color: var(--blue-black);

    max-width: 740px;
}

.welcome-text{
    margin-top: 54px;
    margin-bottom: 90px;
}

/* year title and small text */
main h1{
    font-size: 3.4rem;
}

.year-bio{
    margin-bottom: 54px;
}

/* highlights section */
.highlights h2{
    color: var(--bright-grey);
    font-family: "JetBrains Mono";
    font-size: 3rem;
    font-weight: 700;
}

.highlights > div{
    background-color: var(--off-white);
    margin-top: -14px;

    display: flex;
    padding: 42px 28px;
    margin-bottom: 72px;
}

.highlights div img{
    width: 40%;
    margin-right: 28px;
}

.proj-name{
    color: var(--blue-black);
    font-family: "JetBrains Mono";
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.highlights .high-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlights .high-info > p{
    color: black;
    margin-top: -1rem;
}

.highlights .high-info .section-title{
    background-image: linear-gradient( var(--off-white) 50%, var(--blue-dark) 50%);
    margin: 0;
}

/* project bio */
.project .proj-header{
    display: flex;
    justify-content: space-between;
}

.project .proj-header div{
    width: 57%;
}

.project .proj-header img{
    width: 33%;
    margin: auto;
}

/* .project .proj-header .square-logo{
    max-height: 180px;
    width: auto;
} */

.grey-text{
    color: var(--grey);
}

.project .img-high{
    margin: 48px 0;
}

.project .img-grid{
    display: flex;
    justify-content: space-between;
}

.project .img-grid img{
    width: 48%;
    margin-bottom: 48px;
}

.proj-credits > div{
    display: flex;
    gap: 4em;
}

.proj-credits p{
    line-height: 200%;
}

.proj-credits{
    margin-bottom: 152px;
}

.proj-link{
    max-width: none;
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 48px;
}

.proj-link a{
    background-color: var(--off-white);
    display: block;
    width: 460px;
    max-width: 100%;
    height: 68px;
    margin: auto;
    line-height: 280%;
}

.smallerthings{
    margin-top: -64px;
}

.smallerthings h2{
    font-size: 2.4rem;
}





/* Mobile */
@media screen and (max-width: 760px) {
    .highlights > div{
       flex-direction: column;
    }

    .highlights div img{
        width: 100%;
        margin: auto;
        margin-bottom: 32px;
    }

    .highlights .high-info > p{
        color: black;
        margin: 0 auto 1rem auto;
    }

    /* project bio */
    .project .proj-header{
        flex-direction: column;
    }

    .project .proj-header div{
        width: 100%;
    }

    .project .proj-header img{
        width: 50%;
        margin: auto auto 32px 0;
    }

    .proj-credits > div{
        flex-direction: column;
        gap: 0;
    }

    .proj-link{
        font-size: 1.2rem;
        font-weight: 700;
    
        margin-bottom: 36px;
    }
    
    .proj-link a{
        height: 42px;
        line-height: 220%;
    }

    .smallerthings h2{
        font-size: 2rem;
    }

    .smallerthings div img{
        width: 50%;
        margin-left: 0;
        margin-right: auto;
    }
}