/* Highlights, top section */
.highlights{
    display: flex;
    justify-content: space-between;
}

.highlights .h-text{
    max-width: 50%;
    margin-top: 15%;
}

main h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: 600;

    margin-bottom: 3rem;
}

.highlights ul{
    font-size: 1.75rem;
}

.highlights ul li{
    margin-bottom: 3rem;
}

.highlights ul li .emoji{
    margin-right: .8em;
}

.highlights .h-image{
    width: 50%;
}

.highlights .h-image img{
    width: 100%;
}

/* User flow diagram */
.blue-section{ /* Blue background on 100% of page width */
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);

    margin-top: -30%; /* Makes the phone bottom part appear on top of the blue background */
    z-index: -1;
}

.blue-section .blue-bg{
    background-color: #0F80BF;
    margin-top: -5px; /* Fix small white gap */
    margin-bottom: -1px;
}

.blue-section .blue-bg .content{
    width: 70%;
    margin: auto;
}

.blue-section .blue-bg .content h2, .blue-section .blue-bg .content h5{
    color: white;
}

.blue-section .blue-bg .content h2{
    padding-top: 2.5rem;
}

.blue-section .blue-bg .content h5, .phones-title h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    line-height: 2.5rem;
    max-width: 850px;
}

.blue-section .blue-bg .content img{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

/* Phones side by side */
.phones-title{
    width: 48%;
    margin-left: auto;

    margin-top: 4rem;
}

.phones-side{
    display: flex;
    justify-content: space-between;

    margin-top: -33%;
}

.phones-side img, .phones-side p{
    width: 90%;
}

.phones-side p{
    color: #202020;
    font-size: 1.2em;
    margin-top: 1em;
}

.phones-side .second-phone{
    margin-top: 50%;
}

/* Mobile */
@media screen and (max-width: 760px) {
    /* Highlights, top section */
    .highlights{
        margin-top: 6rem;

        flex-direction: column;
    }

    .highlights .h-text{
        max-width: 100%;
        margin-top: 0;
    }
    
    main h2{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    
    .highlights ul{
        font-size: 1.5rem;
    }
    
    .highlights ul li{
        margin-bottom: 1.5rem;
    }
    
    .highlights ul li .emoji{
        margin-right: .8em;
    }
    
    .highlights .h-image{
        width: 100%;
    }

    /* User flow diagram */
    .blue-section .blue-bg .content{
        width: 90%;
        margin: auto;
    }

    .blue-section .blue-bg .content h5, .phones-title h5{
        font-size: 1.3rem;
        line-height: 1.75rem;
        max-width: 100%;
    }

    /* Phones side by side */
    .phones-title{
        width: 100%;

        margin-top: 4rem;
    }

    .phones-side{
        flex-direction: column;

        margin-top: 15%;
    }

    .phones-side .second-phone{
        margin-top: 15%;
    }
}