/*---------------- Projects header -----------------*/
.social-links > a{
    margin-top: 0;
}

.first-line{
    padding-bottom: 0;
}

.home-text{
    padding-left: 1em;
    padding-right: 0.5em;
    vertical-align: middle;
    
    font-weight: 500;
    color: #5E89B5;
    transition: .2s;
}

.social-links li:hover > .home-text{
    color: white;
}


/*---------------- Project -----------------*/
h1{
    color: #5E89B5;
    font-size: 6em;
}

.subtitle{
    margin-top: -0.1em;
    margin-bottom: 2em;
}

h6{                 /*--- Credits ---*/
    margin-top: 2em;
    font-style: italic;
}

@media (max-width: 768px){
    h1{
        font-size: 3em;
    }
    
    .subtitle{
        font-size: 1em;
    }
}