/* Color variables */
:root {
    --vaccine-green: #006139;
    --vaccine-red: #983E34;
    --vaccine-blue: #336699;
    --vaccine-orange: #CC6633;
    --vaccine-purple: #9E229E;
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
    color: black;
}

main p{
    color: black;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* Margin between nav and cover img */
nav{
    margin-bottom: 1rem;
}

/* Cover image */
.header-cover{
    display: block; 
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative; /* used to center img */
    border: none;
    border-radius: 0;
}

.header-cover img{
    width: 100%;
    position: absolute; /* img centered */
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

/* Project logo and minibio */
.project-bio{
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-bio img{
    margin: 5rem;
    margin-left: 0;
}

/* Cards summary */
.cards-summary{
    margin: 5.5rem 2rem;
}

.cards-summary div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cards-summary div:last-child{
    align-items: flex-end;
}

.card-bottom{
    margin-top: -34rem;
}

.card-bottom div{
    padding-bottom: 6rem;
}

.cards-summary div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-summary h2{
    font-size: 5rem;
    align-self: flex-start;
    color: var(--vaccine-green);
    font-weight: 700;
    margin-right: 3.125rem;
}

.card-bottom h2{
    color: var(--vaccine-red);
}

.cards-summary h4{
    font-size: 2rem;
    font-weight: 400;
}