/* Color variables */
:root {
    --vaccine-green: #006139;
    --vaccine-red: #983E34;
    --vaccine-blue: #336699;
    --vaccine-orange: #CC6633;
    --vaccine-purple: #9E229E;
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
    color: black;
}

main p{
    color: black;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* Margin between nav and cover img */
nav{
    margin-bottom: 1rem;
}

/* Cover image */
.header-cover{
    display: block; 
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative; /* used to center img */
    border: none;
    border-radius: 0;
}

.header-cover img{
    width: 100%;
    position: absolute; /* img centered */
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

/* Project logo and minibio */
.project-bio{
    /*margin: 0 5rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-bio img{
    margin: 5rem;
    margin-left: 0;
    width: 45%;
    max-width: 377px;
}

/* Cards summary */
.cards-summary{
    margin: 5.5rem 1rem;
}

.cards-summary img{
    width: 54%;
}

.cards-summary div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cards-summary div:last-child{
    align-items: flex-end;
}

.card-bottom{
    margin-top: -60%;
}

.card-bottom div{
    padding-bottom: 1.5rem;
}

.cards-summary div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-summary h2{
    font-size: 5rem;
    align-self: flex-start;
    color: var(--vaccine-green);
    font-weight: 700;
    margin-right: 2rem;
}

.card-bottom h2{
    color: var(--vaccine-red);
    margin-left: 15%;
}

.cards-summary h4{
    font-size: 2rem;
    font-weight: 400;
}

/* Vaccine Summary */
.vaccine-summary{
    display: flex;
    justify-content: space-between;
}

.big-title{
    font-size: 3rem;
    font-weight: 700;
}

.vaccine-summary img{
    max-height: 10rem;
    width: auto;
}

.small-title{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
}

/* People tokens */
.p-merriweather{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    line-height: 1.75;
}

.people-tokens{
    margin-top: 4.5rem;
    margin-bottom: 8rem;
}

.people-tokens div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-tokens img{
    width: auto;
    max-height: 8rem;
    margin-right: 0.8rem;
}

/* Other */
.blue{
    color: var(--vaccine-blue);
}

.orange{
    color: var(--vaccine-orange);
}

.purple{
    color: var(--vaccine-purple);
}

.center{
    text-align: center;
}

/* Teams */
.teams{
    margin-top: 2.5rem;
}

.teams > div{
    display: flex;
    justify-content: center;
}

.teams .big-title{
    background: white;
    display: inline-block;
    margin-top: -10%;
}

.teams h2, .teams p{
    margin: 0 10%;
}

.teams p{
    margin-bottom: 3.25rem;
}

/*.special-vs{
    position: absolute;
    font-size: 28rem;
    margin-top: -10%;
    margin-left: -5%;
    color: rgb(0 0 0 / 5%);
    background: none;
    z-index: -1;
    letter-spacing: -1rem;
    font-style: italic;
}*/

.right{
    text-align: right;
}

.subtitle{
    color: #929292;
    font-size: 1.375rem;
    line-height: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 5.5rem;
    text-align: center;
}


/* Mobile */
@media screen and (max-width: 760px) { 
    /* Project logo and minibio */
    .project-bio{
        flex-direction: column;
    }

    .project-bio img{
        margin: 3rem 0;
        width: 100%;
        max-width: 100%;
    }

    .project-bio p{
        margin-bottom: 3rem;
    }

    /* Cards summary */
    .cards-summary{
        margin: 5.5rem 1rem;
    }

    .cards-summary img{
        width: 100%;
    }

    .cards-summary div{
        flex-direction: column;
    }

    /* Vaccine Summary */
    .vaccine-summary{
        flex-direction: column;
    }

    /* People tokens */
    .people-tokens > div{
        flex-direction: column;
    }

    /* Teams */
    .teams > div{
        flex-direction: column;
    }

    .teams h2, .teams p{
        margin: 0;
    }
}

/* Tablets and medium screens */
@media screen and (min-width: 760px) and (max-width: 1300px){


}